.addUser{
    width: 100%;
    height: 100%;
    padding:0 24px 24px;

}
.box{
  width: 100%;
  height: 70%;
  background:white;
  display: flex;
  flex-wrap: wrap;
  .box-item{
      width: 33.3%;
      display: flex;
      flex-direction: column;
      padding:10px;
      border:1px solid #ccc;
      border-radius: 5px;
      .wrap{
          width: 100%;
          height: 51px;
          display: flex;
          justify-content: flex-start;
          text-align: left;
         Button{
            margin: 0 10px 0 0 ;
            width: 111 ;
         }
      }
  }
}