*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.login-form{
    background-color: #fff;
    border-radius: 5px;
    height: 1200px;
}
// .login-form-stem{
//     width: 50%;
// }
// .ant-cascader-menu{
//     height: 300px;
// }